.box{
    width: 90%;
    margin: 20px auto;
    border-radius: 1%;
    background-color: $primaire;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    img{
        width: 90%;
        margin: auto;
        padding-top: 5%;
    }
}

.box__subtitle{
    display: flex;
    justify-content: space-around;
    align-items: baseline;
    font-size: 1.6rem;
}

#camera__name{
    color: $secondaire;
}

