#formulaire{
    margin: 20px auto;
    background-color: $primaire;
    width: 90%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    font-size: 1.5rem;
    width: 60%;
    display: flex;
    flex-direction: column;
    margin: 20px auto;
    font-weight: bold;
}

.input__error{
    color: red;
}
