.fas .far{
    cursor: pointer;
}

.basket__icon{
    color: $secondaire;
    font-size: 3rem;
}

.fa-plus-square{
    color: rgb(37, 108, 141);
}

.fa-minus-square{
    color: rgb(153, 40, 40);
}

.fa-trash-alt{
    color: rgb(255, 255, 255);
}