html{
    font-family: 'Montserrat';
    background-color: rgb(36, 33, 33)
}

a{
    text-decoration: none;    
    color: black;
}

// div du H1 ORINOCO
.brand{
    background: $primaire;
    width: 250px;
    height: auto;
    display: flex;
    margin: 80px auto 20px;
    padding: 3%;
    border-radius: 2%;
    .title{
        font-family: 'Croissant One';
        margin: auto;
        font-size: 3rem;
        color: $secondaire;        
    }
}

.basket__title{
    color: rgb(87, 16, 252);
    font-size: 2rem;
    text-align: center;
}